.react-rainbow-admin-app_sidebar {
    position: fixed;
    border-right: 1px solid #f4f6f9;
    width: 88px;
    padding-top: 14px;
    margin-top: 68px;
    background-color: #fff;
    height: calc(100% - 68px);
    overflow-y: auto;
    z-index: 99999;
}

.react-rainbow-admin-app_router-container {
    padding-top: 68px;
    padding-left: 88px;
    background-color: #f4f6f9;
    min-height: 100vh;
}

.react-rainbow-admin-app_sidebar-item {
    margin-bottom: 16px;
}

.react-rainbow-admin-app_sidebar-back-button-container {
    display: none;
}

.react-rainbow-admin-app_backdrop {
    display: none;
}

@media (max-width: 600px) {
    .react-rainbow-admin-app_sidebar {
        height: 100vh;
        margin-top: 0;
        padding-bottom: 14px;
        transform: translateX(0%);
        transition: transform 230ms linear, opacity 230ms linear;
    }

    .react-rainbow-admin-app_router-container {
        padding-top: 116px;
        padding-left: 0;
    }

    .react-rainbow-admin-app_sidebar--hidden {
        transform: translateX(-100%);
        transition: transform 250ms linear, opacity 250ms linear;
    }

    .react-rainbow-admin-app_sidebar-back-button-container {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 12px;
    }

    .react-rainbow-admin-app_sidebar-back-button-icon {
        color: #000;
    }

    .react-rainbow-admin-app_backdrop {
        display: unset;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
    }

    .react-rainbow-admin-app_backdrop--sidebar-hidden {
        display: none;
    }
}
