.react-rainbow-admin-coming-soon_container {
    min-height: calc(100vh - 68px);
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-rainbow-admin-coming-soon_image {
    width: 100%;
    height: 80vh;
    background-image: url(./coming-soon.svg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 1024px) {
    .react-rainbow-admin-coming-soon_container {
        padding: 16px;
    }
}
