.react-rainbow-admin-order-status_table-container {
    height: max-content;
    background-color: white;
    padding-bottom: 24px;
}

.react-rainbow-admin-order-status_table {
    border-top: 1px solid #e3e5ed;
    margin-top: 8px;
}

.react-rainbow-admin-order-status---processing {
    color: #a0a0bc;
}

.react-rainbow-admin-order-status---verified {
    color: #1de9b6;
}

.react-rainbow-admin-order-status---expired {
    color: #fe4849;
}